{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Societé</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>email</th>
            <th>IBAN</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.Societ }}</td>
                <td>{{ client.Nom }}</td>
                <td>{{ client.Prenom }}</td>
                <td>{{ client.Email }}</td>
                <td>{{ client.IBAN }}</td>
                <td>
                    <a href="{{ path('modifier_client',{"id":client.id}) }}"
                       class="btn btn-primary">Modifier</a>
                    <a href="{{ path('supprimer_client',{"id":client.id}) }}"
                       class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('ajouter_client') }}" class="btn btn-primary">Ajouter</a>
</div>
{% endblock %}
